/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #333; /* Darker text color for better contrast */
  padding: 0;
  margin: 0; /* Remove default margin */
  background-color: #f5f5f5; /* Light background color for better contrast */
}

/* Container Styles */
.container {
  max-width: 600px;
  margin: 60px auto; /* Increased top margin for breathing space */
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* White background for content */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Header Styles */
.header {
  font-size: 36px; /* Adjusted font size for better readability */
  font-weight: bold;
  margin-bottom: 20px;
  color: #000; /* Primary color for branding */
}

/* Subheader Styles */
.subheader {
  font-size: 18px;
  margin: 15px 0;
  color: #555; /* Softer color for subheaders */
}

/* Button Styles */
#button {
  display: none; /* Initially hidden until data is loaded */
  padding: 15px 30px;
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background-color: #9AFE5B; /* Primary color */
  border: none;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Subtle shadow for button */
}

#button:hover {
  color: #000;
  background-color: #74F526; /* Darker color on hover */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

/* QR Code Styles */
#qrcode {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow for a card-like effect */
  padding: 20px;
  width: fit-content;
}

/* Responsive Styles */
@media (max-width: 480px) {
  .header {
    font-size: 28px; /* Smaller font size on small screens */
  }

  .subheader {
    font-size: 16px; /* Adjust font size for readability */
  }

  #button {
    font-size: 16px; /* Adjust button size on small screens */
  }
}
